<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<footer class="main-footer" th:fragment="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-sm-5 col-md-6">

                <div class="row">
                    <div class="footer-about col-sm-10 col-md-8">
                        <div class="footer-logo">
                            <a href="#home">EXTRETION</a>
                        </div>

                        <p class="about-us-footer">Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness... <a href="#" class="font-italic bb-dotted">read more</a></p>

                        <p class="copy-right font12">© Copyright 2015 EXTRETION - Responsive Template.</p>

                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-sm-7 col-md-6">

                <div class="row gap-20">

                    <div class="col-xss-6 col-xs-4 col-sm-4 mt-30-xs">

                        <h4 class="footer-title">Company</h4>

                        <ul class="menu-footer">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>

                    </div>

                    <div class="col-xss-6 col-xs-4 col-sm-4 mt-30-xs">

                        <h4 class="footer-title">Discover</h4>

                        <ul class="menu-footer">
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Beach</a></li>
                            <li><a href="#">City</a></li>
                            <li><a href="#">Pack Pack</a></li>
                            <li><a href="#">Honeymoon</a></li>
                            <li><a href="#">Trekking</a></li>
                        </ul>

                    </div>

                    <div class="col-xss-12 col-xs-4 col-sm-4 mt-30-xs">

                        <h4 class="footer-title">Socials</h4>

                        <ul class="menu-footer for-social">
                            <li><a href="#"><i class="fa fa-facebook-official mr-5"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter mr-5"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-google-plus mr-5"></i> Google Plus</a></li>
                            <li><a href="#"><i class="fa fa-codepen mr-5"></i> Codepen</a></li>
                            <li><a href="#"><i class="fa fa-behance mr-5"></i> Behance</a></li>
                            <li><a href="#"><i class="fa fa-github mr-5"></i> Github</a></li>
                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</footer>
</body>
</html>